/* 轮播图 */
.nav_banner{width: 100%;height: 600px;position: relative;}
.nav_banner ul{position: relative;}
.nav_banner ul li{position: absolute;left: 50%;margin-left: -960px;opacity:0}
.nav_banner ul img{width: 1920px;height: 600px;}
.nav_menu .selet_all{color:  #f6827a}
/* 左右图标 */
.nav_banner_iconl{width: 45px;height: 70px;position: absolute;left: 11%;top: 264px;z-index: 5;display: none;
cursor: pointer;background: url(../images/prev_54.png) no-repeat;}
.nav_banner_iconr{width: 45px;height: 70px;position: absolute;right: 11%;top: 264px;z-index: 5;display: none;
cursor: pointer;background: url(../images/next_54.png) no-repeat;}
.nav_banner:hover .nav_banner_iconl,.nav_banner:hover .nav_banner_iconr{display: block}
.nav_banner_iconl:hover{background-position-x: -45px;}
.nav_banner_iconr:hover{background-position-x: -45px;}
/* 下方圆点 */
.banner_radius{position: absolute;left: 46%;bottom: 4%; z-index: 10; cursor: pointer;}
.banner_radius span{display: inline-block;width: 12px;height: 12px;margin-right: 9px;border-radius: 100%;
background: #333;opacity: 0.3;cursor: pointer;}
.banner_radius .banner_radius_active{background: #FF8A81;opacity: 1}
/* 主要内容 */
.g_top{width: 1180px;margin: 0 auto;padding-top: 55px;}
.g_top_l{width: 580px;background: #f7f7f7;padding-bottom: 34px;text-align: center;float: left}
.g_top_l h2{font-size: 26px;width: 100%;text-align: center;padding:54px 0 61px 0;letter-spacing: 2px;}
.g_top_l img{margin-left: 114px;}
.g_top_l a{width: 204px; height: 34px;color: #fff;background: #f6827a;display: block;
line-height: 34px;margin-bottom: 12px;margin-left: 188px;}
.g_top_l a:hover{opacity: 0.9;}

.g_top_r{float: left;margin-left: 22px;position: relative;}
.g_top_r img{width: 578px;height: 442px;}
.mask{background: #F5F5F5;position: absolute;width: 100%;height: 100%; z-index: 3px;top: 0;
opacity: 0}

/* 系列产品 */
.g_series{padding-top: 57px;}
.g_series h2{font-size: 24px;width: 100%;text-align: center;display: block;height: 24px;
line-height: 24px;padding-bottom: 47px;letter-spacing: 2px}
/* 轮播导航 */
.g_series_nav{height: 37px;width: 1180px;text-align: center;background: #feb8ae;margin: 0 auto}
.g_series_nav .g_series_active{color: #000}
.g_series_nav span{margin:0 auto;height: 37px;line-height: 37px;color: #fff;display: inline-block;
width: 103px;cursor: pointer;}
.g_series_nav span:hover{color: #000;}
/* 商品轮播 */
.g_series_banner{padding-top: 20px;width: 1180px;margin: 0 auto; display: none}
.g_series_banner_img1{float: left;width: 700px;height: 442px;position: relative;}
.g_series_banner_img1 img{width: 700px;height: 442px;}
.g_series_banner_img2{float: right;margin-right: 1px;width: 464px;height: 696px;position: relative;}
.g_series_banner_img2 img{width: 464px;height: 696px;}
.g_series_banner_img3{float: left;padding-top: 13px;width: 700px;height: 241px;position: relative;}
.g_series_banner_img3 img{width: 700px;height: 241px;}
/* 婚戒推荐 */
.g_recommend{padding-top: 57px;width: 100%;}
.g_recommend h2{font-size: 24px;width: 100%;text-align: center;display: block;height: 24px;
line-height: 24px;letter-spacing: 2px;}
.g_recommend i{display: inline-block;width: 21px;height: 19px;padding: 0 6px;background: url(../images/icon_and.jpg)
no-repeat;background-position-x: center;vertical-align: middle;}
.g_recommend_banner{width: 1180px;margin: 0 auto;position: relative;padding-top: 47px;}
.g_recommend_banner_box{width: 1094px;overflow: hidden;height: 195px;margin: 0 auto;position: relative;}
.g_recommend_banner ul{text-align: center;width: 2200px;}
.g_recommend_banner li{padding: 0 15px 0 16px;float: left;}
.g_recommend_banner li img{width: 240px;height: 193px}
.g_recommend_banner span{display: block;position: absolute;top: 78px;width: 37px;height: 51px;z-index: 2;}
.g_recommend_iconl{background: url(../images/icon_prev.jpg) no-repeat;background-position: -37px 0;
left: -35px;cursor: pointer;}
.g_recommend_iconr{background: url(../images/icon_prev.jpg) no-repeat;background-position: 0 -51px;
right:-35px;cursor: pointer;z-index: 999;}
/* 钻石图标 */
.g_icons{width: 100%;background: #F5F5F5;padding:50px 0;text-align: center;margin-top: -2px;}
.g_icons a{text-transform: uppercase;color: #b7b7b7;text-align: center;font-size: 11px;line-height: 20px;
margin: 0 auto;display: inline-block;letter-spacing: 1px;}
.g_icons i{display: block;height: 49px;margin-bottom: 8px;}
.g_icon0 i{width: 104px;background: url(../images/icon_shape.jpg) no-repeat;}
.g_icon0:hover i{background-position: 0 -49px;}
.g_icon1 i{width: 104px;background: url(../images/icon_shape.jpg) no-repeat;background-position: -104px 0;}
.g_icon1:hover i{background-position: -104px -49px;}
.g_icon2 i{width: 98px;background: url(../images/icon_shape.jpg) no-repeat;background-position: -208px 0;}
.g_icon2:hover i{background-position: -208px -49px;}
.g_icon3 i{width: 91px;background: url(../images/icon_shape.jpg) no-repeat;background-position: -306px 0;}
.g_icon3:hover i{background-position: -306px -49px;}
.g_icon4 i{width: 92px;background: url(../images/icon_shape.jpg) no-repeat;background-position: -397px 0;}
.g_icon4:hover i{background-position: -397px -49px;}
.g_icon5 i{width: 105px;background: url(../images/icon_shape.jpg) no-repeat;background-position: -489px 0;}
.g_icon5:hover i{background-position: -489px -49px;}
.g_icon6 i{width: 86px;background: url(../images/icon_shape.jpg) no-repeat;background-position: -594px 0;}
.g_icon6:hover i{background-position: -594px -49px;}
.g_icon7 i{width: 91px;background: url(../images/icon_shape.jpg) no-repeat;background-position: -680px 0;}
.g_icon7:hover i{background-position: -680px -49px;}
.g_icon8 i{width: 109px;background: url(../images/icon_shape.jpg) no-repeat;background-position: -771px 0;}
.g_icon8:hover i{background-position: -771px -49px;}
.g_icon9 i{width: 110px;background: url(../images/icon_shape.jpg) no-repeat;background-position: -880px 0;}
.g_icon9:hover i{background-position: -880px -49px;}
/* 图文介绍 */
.g_image_text{width: 1180px;margin: 0 auto;padding-top: 55px; position: relative;}
.g_image_text1{float: left;position: relative;width: 722px;height: 644px;}
.g_image_text1 img{width: 722px;height: 644px;}
.g_image_text2{float: right;width: 440px;height: 644px;position: relative;}
.g_image_text2 img{width: 440px;height: 644px;}
.g_image_text3{float: left;padding-top: 15px;width: 1180px;height: 324px;position: relative;}
.g_image_text3 img{width: 1180px;height: 324px;}

/* 店铺位置 */
.shop_seat{width: 1180px;margin: 0 auto; padding-top: 36px;}
/* 省份 */
.shop_identity{border-top: 1px solid #000;border-bottom: 1px solid #ececec;padding-top: 23px;
width: 100%;padding-bottom: 11px;}
.shop_identitys{color: #bababa;padding-right: 83px;float: left;padding-top: 13px;}
.shop_identity_item{width: 1065px;float: left}
.shop_identity_item span{padding: 0 20px;margin-bottom: 13px;display: inline-block;cursor: pointer;}
/* 门店 */
.shop_store{padding: 22px 0 21px 0;}
.shop_store p{float: left;padding-right: 100px;color: #bababa;}

/* 体验中心 */
.shop_stores{float: left;margin-top: -1px;display: none} 
.shop_stores span{margin-right: 40px; cursor: pointer;}
/* 城市轮播图  */
.shop_banner{width: 1180px;margin: 0 auto;height: 530px;background: #fdeaea}
.shop_banner_l{float: left;width: 700px;height: 530px;overflow: hidden;}
.shop_banner_l ul{position: relative;}
.shop_banner_l ul li{position: absolute;}
.shop_banner_l img{width: 700px;height: 530px}
.banner_circle{position: absolute;left: 46%;bottom: 4%; z-index: 10;}
.shop_banner_l_span{position: relative; width: 100%;height: 100%;}
.banner_circle span{display: inline-block;width: 10px;height: 10px;margin-right: 9px;border-radius: 100%;
background: #97979A;}
.banner_circle .banner_circle_active{background: #fff;}
.shop_banner_r{float: left;text-align: center;width: 480px;}
.shop_banner_r h2{font-size: 28px;height: 28px;line-height: 28px;margin-top: 109px;}
.shop_banner_r i{display: block;width: 59px;border-top: 1px solid #000;margin: 40px auto 22px;}
.shop_banner_r p{line-height: 22px;font-size: 12px;font-family: Arial,"宋体";padding-bottom: 51px}
.shop_banner .shop_stores_word{display: none}
#shop_banner_text{width: 300px;height: 38px;border: none;padding-left: 10px;margin-bottom: 33px;
color: #b7b7b7}
#shop_banner_btn{width: 142px;height: 32px;color: #fff;background: #f6827a;border: none;
margin-left: -1px;cursor: pointer}
#shop_banner_btn:hover{opacity: 0.8;}
/* 动态资讯 */
.shop_dynamic{width: 1180px;margin: 55px auto 75px}
.shop_dynamic_l{float: left;border-top: 1px solid #000;border-bottom: 1px solid #000;
width: 660px;height: 322px;}
.shop_dynamic_l dl{float: left;padding-top: 22px;width: 310px;padding-left: 20px}
.shop_dynamic_l dt{padding: 26px 0 20px;}
.shop_dynamic_l dd{line-height: 28px;}
.shop_dynamic_l span a{margin-top: 20px}
.select_more{padding-top: 13px;}
.shop_dynamic_l dl a:hover{color:#ff8a81}
.shop_dynamic_r{float: right;}