
$wid:100%;
$wid1:1180px;
$hegt:33px;
$color_nav:#000; 

$bgimg: "http://img.zbird.cn/ww3/mono/pc/2018/intocolour/bg1_1.png"
        "http://img.zbird.cn/ww3/mono/pc/2018/intocolour/bg1_txt.png"
        "http://img.zbird.cn/ww3/mono/pc/2018/intocolour/bg2.jpg"
        "http://img.zbird.cn/ww3/mono/pc/2018/intocolour/bg2_2.png"
        "http://img.zbird.cn/ww3/mono/pc/2018/intocolour/bg2_txt1.png"
        "http://img.zbird.cn/ww3/mono/pc/2018/intocolour/bg2_txt2.png"
        "http://img.zbird.cn/ww3/mono/pc/2018/intocolour/bg3.jpg"
        "http://img.zbird.cn/ww3/mono/pc/2018/intocolour/bg3_txt1.png"
        "http://img.zbird.cn/ww3/mono/pc/2018/intocolour/bg3_pro1.png"
        "http://img.zbird.cn/ww3/mono/pc/2018/intocolour/bg3_txt2.png"
        "http://img.zbird.cn/ww3/mono/pc/2018/intocolour/bg4.jpg"
        "http://img.zbird.cn/ww3/mono/pc/2018/intocolour/bg4_pro1.png"
        "http://img.zbird.cn/ww3/mono/pc/2018/intocolour/bg4_txt2.png"
        "http://img.zbird.cn/ww3/mono/pc/2018/intocolour/bg4_txt1.png"
        "http://img.zbird.cn/ww3/mono/pc/2018/intocolour/bg5.jpg"
        "http://img.zbird.cn/ww3/mono/pc/2018/intocolour/bg5_pro1.png"
        "http://img.zbird.cn/ww3/mono/pc/2018/intocolour/bg5_txt1.png"
        "http://img.zbird.cn/ww3/mono/pc/2018/intocolour/bg5_txt2.png"
        "http://img.zbird.cn/ww3/mono/pc/2018/intocolour/bg6.jpg"
        "http://img.zbird.cn/ww3/mono/pc/2018/intocolour/bg6_pro1.png"
        "http://img.zbird.cn/ww3/mono/pc/2018/intocolour/bg6_txt2.png"
        "http://img.zbird.cn/ww3/mono/pc/2018/intocolour/bg6_txt1.png"
        "http://img.zbird.cn/ww3/mono/pc/2018/intocolour/bg7.jpg"
        "http://img.zbird.cn/ww3/mono/pc/2018/intocolour/bg7_f3.png"
        "http://img.zbird.cn/ww3/footermono/city_bg.jpg"
        "../images/input_img.png"
        "http://img.zbird.cn/ww3/footermono/footer_title.jpg"
        "http://img.zbird.cn/picdb/555/539/518dfefd2f43b1549aa4aafd4487f768.jpg"
        "http://img.zbird.cn/picdb/555/539/9231548101812bfd076ae45cf786153f.jpg"
        "http://img.zbird.cn/picdb/555/539/b521ff535e989f5028d294de1208595e.jpg"
;